In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("data/survey_results_public.csv")
schema_df = pd.read_csv("data/survey_results_schema.csv")

In [ ]:
pd.set_option("display.max_rows", 85)
pd.set_option("display.max_columns", 85)

In [ ]:
df.head()

In [ ]:
schema_df

###

In [ ]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [ ]:
df_people = pd.DataFrame(people)
df_people

In [ ]:
people['email']

In [ ]:
## Accessing a single Column
df_people['email']

In [41]:
## Output the type of Email
type(df_people['email'])

pandas.core.series.Series

In [42]:
## Accessing Multiple column
df_people[['last', 'email']]

      last                    email
0  Schafer  CoreyMSchafer@gmail.com
1      Doe        JaneDoe@email.com
2      Doe        JohnDoe@email.com

## Select Rows and Columns

In [43]:
df_people.iloc[0]
df_people.iloc[[0 , 1]]

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com

In [44]:
## Select Specific Column List
df_people.loc[[0,1], 'email']

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
Name: email, dtype: object

In [45]:
df_people.loc[[0,1], ['email', 'last']]

                     email     last
0  CoreyMSchafer@gmail.com  Schafer
1        JaneDoe@email.com      Doe

##

In [ ]:
df['Hobbyist']

In [ ]:
## Data Frame Value Count
df['Hobbyist'].value_counts()

In [46]:
df.loc[0]
df.loc[[0, 1, 2], "Hobbyist"]
df.loc[0:2, "Hobbyist"]

0    Yes
1     No
2    Yes
Name: Hobbyist, dtype: object

In [ ]:
df.loc[0:2, "Hobbyist": "Employment"]